Repository nonebot/nonebot2, pull requests merged in 2021-07, with the labels that each got.

#428 Plugin: nonebot_plugin_statistical
  docs/.vuepress/public/plugins.json
Labels: Plugin

#430 修复mirai adapter中上传相关api操作报错
  docs/.vuepress/public/plugins.json
  packages/nonebot-adapter-mirai/nonebot/adapters/mirai/bot.py
Labels: bug

#432 Bot: ATRI
  docs/.vuepress/public/bots.json
Labels: Bot

#434 Docs: 修复漏字
  packages/nonebot-adapter-cqhttp/nonebot/adapters/cqhttp/bot.py
Labels: documentation

#435 Docs: scheduler docs typo
  docs/advanced/scheduler.md
Labels: documentation

#438 Plugin: nonebot_plugin_setu
  docs/.vuepress/public/plugins.json
Labels: Plugin

#442 Plugin: nonebot_plugin_fr24
  docs/.vuepress/public/plugins.json
Labels: Plugin

#446 Bot: dumbot傻瓜机器人
  docs/.vuepress/public/bots.json
Labels: Bot

#451 Adapter: feishu
  docs/.vuepress/public/adapters.json
Labels: Adapter

#452 修复由于 `quart.exception`在新版Quart被移除导致import出错
  nonebot/drivers/quart.py
Labels: bug
