Repository nonebot/nonebot2, pull requests merged in 2021-12, with the labels that each got.

#611 Plugin: 虚拟朋友
  docs/.vuepress/public/plugins.json
Labels: Plugin

#613 Plugin: 在线运行代码
  docs/.vuepress/public/plugins.json
Labels: Plugin

#615 Fix: http2 for fastapi driver
  nonebot/drivers/fastapi.py
Labels: bug

#617 Plugin: 随机黑丝
  docs/.vuepress/public/plugins.json
Labels: Plugin

#624 Plugin: picsbank
  docs/.vuepress/public/plugins.json
Labels: Plugin

#626 Plugin: 剧集更新列表
  docs/.vuepress/public/plugins.json
Labels: Plugin

#628 Plugin: lol比赛信息
  docs/.vuepress/public/plugins.json
Labels: Plugin

#630 Bot: SeaBot_QQ
  docs/.vuepress/public/bots.json
Labels: Bot

#633 Plugin: OlivOS.nb2
  docs/.vuepress/public/plugins.json
Labels: Plugin

#635 Plugin: 通过浏览器来生成图片
  docs/.vuepress/public/plugins.json
Labels: Plugin

#637 Plugin: 简易群管
  docs/.vuepress/public/plugins.json
Labels: Plugin

#639 Plugin: nonebot-plugin-logo
  docs/.vuepress/public/plugins.json
Labels: Plugin

#641 Plugin: Memes generator
  docs/.vuepress/public/plugins.json
Labels: Plugin

#642 :sparkles: Compatible with cross-platform superusers
  nonebot/permission.py
Labels: enhancement
