Repository nonebot/nonebot2, pull requests merged in 2021-09, with the labels that each got.

#517 Plugin: ATRI语音包
  docs/.vuepress/public/plugins.json
Labels: Plugin

#529 Plugin: HanayoriBot
  docs/.vuepress/public/plugins.json
Labels: Plugin

#532 Plugin: HTTP静态文件托管
  docs/.vuepress/public/plugins.json
Labels: Plugin

#534 Plugin: SimpleMusic
  docs/.vuepress/public/plugins.json
Labels: Plugin

#536 完善飞书相关文档和部分事件Model
  docs/guide/feishu-guide.md
  packages/nonebot-adapter-feishu/nonebot/adapters/feishu/event.py
  tests/test_plugins/test_feishu.py
Labels: documentation, enhancement

#539 Fix: remove return value in event handle
  nonebot/message.py
Labels: bug

#541 Docs: 插件发布指引文档
  docs/advanced/images/plugin_store_publish.png
  docs/advanced/images/plugin_store_publish_2.png
  docs/advanced/publish-plugin.md
  docs/api/drivers/fastapi.md
Labels: documentation

#543 Plugin: pornhub风格图标生成
  docs/.vuepress/public/plugins.json
Labels: Plugin
