Repository nonebot/nonebot2, pull requests merged in 2022-11, with the labels that each got.

#1360 Plugin: 二次元化图像
  website/static/plugins.json
Labels: Plugin

#1369 Bot: hsbot
  website/static/bots.json
Labels: Bot

#1366 CI: 测试环境添加 Python 3.11
  .github/actions/setup-node/action.yml
  .github/actions/setup-python/action.yml
  .github/workflows/codecov.yml
Labels: enhancement

#1365 Plugin: 日麻小工具
  website/static/plugins.json
Labels: Plugin

#1371 Plugin: 动漫资源获取
  website/static/plugins.json
Labels: Plugin

#1373 Plugin: 随个人
  website/static/plugins.json
Labels: Plugin

#1380 Bot: Bread Dog Bot
  website/static/bots.json
Labels: Bot

#1375 Plugin: Apex API Query
  website/static/plugins.json
Labels: Plugin

#1382 Plugin: 投胎模拟器
  website/static/plugins.json
Labels: Plugin

#1388 Feature: 使用 `importlib.metadata` 替换 `pkg_resources`
  nonebot/__init__.py
Labels: enhancement, Breaking

#1385 Plugin: b站用户直播号、粉丝、舰团数查询
  website/static/plugins.json
Labels: Plugin

#1390 Plugin: Colab-NovelAI
  website/static/plugins.json
Labels: Plugin

#1392 Feature: 升级 devcontainer 配置
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .pre-commit-config.yaml
  CONTRIBUTING.md
  website/static/adapters.json
  website/static/bots.json
  website/static/plugins.json
  website/versions.json
Labels: enhancement

#1394 Plugin: sky光遇
  website/static/plugins.json
Labels: Plugin

#1391 Fix: 修复 run pre/post hook 没有在正确的上下文中运行
  nonebot/internal/matcher.py
  nonebot/message.py
Labels: bug

#1398 Fix: Bot `__getattr__` 不再对 `__xxx__` 方法返回
  nonebot/internal/adapter/bot.py
Labels: bug

#1408 Plugin: 免费版NovelAI生图插件
  website/static/plugins.json
Labels: Plugin

#1395 Feature: 支持自定义 matchers 存储管理
  nonebot/internal/matcher/__init__.py
  nonebot/internal/matcher/manager.py
  nonebot/internal/matcher/matcher.py
  nonebot/internal/matcher/provider.py
  nonebot/matcher.py
  tests/test_matcher/test_matcher.py
  tests/test_matcher/test_provider.py
Labels: enhancement

#1414 Docs: 添加 ntchat 社区适配器
  README.md
Labels: documentation

#1416 Plugin: 谁在窥屏
  website/static/plugins.json
Labels: Plugin

#1422 Plugin: 原神前瞻直播兑换码查询
  website/static/plugins.json
Labels: Plugin

#1420 Plugin: 记事本
  website/static/plugins.json
Labels: Plugin

#1426 Fix: 修复 ArgumentParser 错误信息叠加问题
  nonebot/rule.py
  tests/test_rule.py
Labels: bug
