Repository nonebot/nonebot2, pull requests merged in 2022-10, with the labels that each got.

#1299 Plugin: 监听者
  website/static/plugins.json
Labels: Plugin

#1302 Plugin: BiliRequestAll
  website/static/plugins.json
Labels: Plugin

#1305 Upgrade: bump pydantic version to 0.10
  poetry.lock
  pyproject.toml
Labels: dependencies

#1306 Remove: 移除无用的 namespace 声明
  nonebot/adapters/__init__.py
Labels: enhancement

#1308 Plugin: 真白萌自动签到
  website/static/plugins.json
Labels: Plugin

#1311 Plugin: 轮盘禁言小游戏
  website/static/plugins.json
Labels: Plugin

#1314 Adapter: Ntchat
  website/static/adapters.json
Labels: Adapter

#1320 Plugin: 监测群事件
  website/static/plugins.json
Labels: Plugin

#1317 Plugin: 游戏王小程序查价
  website/static/plugins.json
Labels: Plugin

#1319 Plugin: novelai
  website/static/plugins.json
Labels: Plugin

#1315 Feature: 添加 State 响应器触发消息注入
  nonebot/consts.py
  nonebot/params.py
  nonebot/rule.py
  tests/plugins/param/param_state.py
  tests/test_param.py
  tests/test_rule.py
  website/docs/tutorial/plugin/create-handler.md
Labels: enhancement

#1323 Plugin: AI绘图
  website/static/plugins.json
Labels: Plugin

#1324 Feature: 新增 dotenv 嵌套配置项支持
  .pre-commit-config.yaml
  nonebot/__init__.py
  nonebot/config.py
  poetry.lock
  pyproject.toml
  tests/.env
  tests/.env.test
  tests/test_init.py
Labels: enhancement

#1326 Plugin: bnhhsh -「不能好好说话！」
  website/static/plugins.json
Labels: Plugin

#1328 Plugin: ayaka衍生插件 - 小游戏合集
  website/static/plugins.json
Labels: Plugin

#1330 Plugin: ayaka衍生插件 - 谁是卧底
  website/static/plugins.json
Labels: Plugin

#1332 Plugin: ayaka衍生插件 - 时区助手
  website/static/plugins.json
Labels: Plugin

#1335 Plugin: ayaka衍生插件 - 坏词撤回
  website/static/plugins.json
Labels: Plugin

#1337 Plugin: 二次元图像鉴赏
  website/static/plugins.json
Labels: Plugin

#1341 Plugin: 通用抽图/语音
  website/static/plugins.json
Labels: Plugin

#1345 Plugin: NoneBot SQLAlchemy封装
  website/static/plugins.json
Labels: Plugin

#1348 Plugin: 用户&群聊黑名单
  website/static/plugins.json
Labels: Plugin

#1350 Plugin: 反嘴臭插件
  website/static/plugins.json
Labels: Plugin

#1355 Plugin: 文本生成器
  website/static/plugins.json
Labels: Plugin

#1357 Plugin: 日麻寄分器
  website/static/plugins.json
Labels: Plugin
