Repository nonebot/nonebot2, pull requests merged in 2022-03, with the labels that each got.

#843 Plugin: 二维码识别与发送
  website/static/plugins.json
Labels: Plugin

#846 Plugin: 游戏王卡查
  website/static/plugins.json
Labels: Plugin

#852 :beers: Plugin: 动漫新闻
  website/static/plugins.json
Labels: Plugin

#855 Plugin: 订阅推送管理
  website/static/plugins.json
Labels: Plugin

#857 :arrow_up: upgrade fastapi to 0.75
  poetry.lock
  pyproject.toml
Labels: dependencies

#859 Plugin: bilibili通知插件
  website/static/plugins.json
Labels: Plugin

#860 Docs: tips for finding adapters' document link
  website/docs/tutorial/register-adapter.md
  website/versioned_docs/version-2.0.0-beta.2/tutorial/register-adapter.md
Labels: documentation

#861 Docs: 修复适配器文档内商店链接
  website/docs/tutorial/register-adapter.md
  website/versioned_docs/version-2.0.0-beta.2/tutorial/register-adapter.md
Labels: documentation

#863 Plugin: 色图生成
  website/static/plugins.json
Labels: Plugin

#865 Plugin: 21点游戏插件
  website/static/plugins.json
Labels: Plugin

#871 Plugin: QQ自动同意好友申请
  website/static/plugins.json
Labels: Plugin

#872 Feature: 添加 Rule, Permission 反向位运算支持
  nonebot/internal/permission.py
  nonebot/internal/rule.py
  tests/.env.test
  tests/test_permission.py
  tests/test_rule.py
Labels: enhancement

#875 Plugin: Arcaea查分插件
  website/static/plugins.json
Labels: Plugin

#876 Fix: 修复 event 类型检查会对类型进行自动转换
  nonebot/internal/params.py
  tests/plugins/param/param_bot.py
  tests/plugins/param/param_event.py
  tests/test_init.py
  tests/test_param.py
  tests/utils.py
Labels: bug

#878 Plugin: 成分姬
  website/static/plugins.json
Labels: Plugin

#882 Plugin: 第二个leetcode查询插件
  website/static/plugins.json
Labels: Plugin

#884 Plugin: HikariSearch
  website/static/plugins.json
Labels: Plugin

#886 Plugin: MediaWiki查询
  website/static/plugins.json
Labels: Plugin

#891 Plugin: wordle猜单词
  website/static/plugins.json
Labels: Plugin

#889 Plugin: 快速搜索
  website/static/plugins.json
Labels: Plugin

#894 Plugin: 语句抽象化
  website/static/plugins.json
Labels: Plugin

#897 Plugin: 多适配器帮助函数
  website/static/plugins.json
Labels: Plugin

#899 Plugin: 汉兜 Handle
  website/static/plugins.json
Labels: Plugin
