Repository nonebot/nonebot2, pull requests merged in 2022-01, with the labels that each got.

#645 Support user-defined format spec for message template
  nonebot/adapters/_template.py
  tests/adapters/test_template.py
  tests/utils.py
Labels: enhancement

#652 Plugin 群聊复读机
  website/static/plugins.json
Labels: Plugin

#653 Optimize readme expression and styling
  README.md
Labels: documentation

#657 Plugin 插件管理器
  website/static/plugins.json
Labels: Plugin

#660 Docs: 更新商店插件发布流程
  website/docs/advanced/images/plugin_store_publish.png
  website/docs/advanced/images/plugin_store_publish_2.png
  website/docs/advanced/publish-plugin.md
Labels: documentation

#661 Docs: update handler and plugin docs
  .github/workflows/website-deploy.yml
  nonebot/matcher.py
  nonebot/typing.py
  website/docs/advanced/di/dependency-injection.md
  website/docs/advanced/di/overload.md
  website/docs/advanced/di/sync-support.md
  website/docs/advanced/images/plugin_store_publish.png
  website/docs/advanced/images/plugin_store_publish_2.png
  website/docs/advanced/publish-plugin.md
  website/docs/advanced/test/unittest.md
  website/docs/advanced/unittest.md
  website/docs/tutorial/plugin/create-handler.md
  website/docs/tutorial/plugin/create-matcher.md
  website/docs/tutorial/plugin/matcher-operation.md
Labels: documentation

#664 Plugin 群文件直链提取器
  website/static/plugins.json
Labels: Plugin

#666 Plugin: 转发姬
  website/static/plugins.json
Labels: Plugin

#667 Docs: add example for plugin
  nonebot/matcher.py
  nonebot/params.py
  poetry.lock
  tests/conftest.py
  tests/examples/weather.py
  tests/test_adapters/test_template.py
  tests/test_examples/test_weather.py
  tests/test_init.py
  tests/test_matcher.py
  tests/test_param.py
  tests/utils.py
  website/docs/tutorial/plugin/example.mdx
  website/package.json
  website/src/components/Messenger/index.tsx
  website/src/components/Messenger/styles.module.css
  yarn.lock
Labels: documentation

#669 Docs: fix messenger css error
  website/src/components/Messenger/styles.module.css
Labels: documentation

#671 Adapter: 开黑啦
  website/static/adapters.json
Labels: Adapter

#676 Fix: fix matcher receive and arg detect
  nonebot/matcher.py
Labels: bug

#679 Fix: plugin load fail process
  nonebot/plugin/manager.py
  nonebot/plugin/plugin.py
  tests/test_init.py
Labels: bug

#681 Remove mirai-api-http related info from readme
  README.md
  website/static/adapters.json
Labels: documentation

#673 从 Fastapi 的文档中排除驱动器的 HTTP 上报地址
  nonebot/drivers/fastapi.py
  website/docs/tutorial/choose-driver.md
Labels: enhancement

#682 Docs: format adapter name
  website/static/adapters.json
Labels: documentation

#695 Plugin: 扔骰子
  website/static/plugins.json
Labels: Plugin

#697 Plugin: 疯狂星期四
  website/static/plugins.json
Labels: Plugin

#699 Plugin: 新冠疫情查询😷
  website/static/plugins.json
Labels: Plugin

#701 Plugin: 人生重开模拟器
  website/static/plugins.json
Labels: Plugin

#704 Plugin: 彩云小梦AI续写
  website/static/plugins.json
Labels: Plugin

#705 Feature: Advanced message slice support
  nonebot/adapters/_message.py
  tests/test_adapters/test_message.py
  tests/test_adapters/test_template.py
  tests/utils.py
Labels: enhancement

#711 Fix: single_session potential bug
  nonebot/plugins/single_session.py
  tests/test_single_session.py
  tests/utils.py
Labels: bug

#715 Plugin: 天气查询
  website/static/plugins.json
Labels: Plugin

#718 Adapter: mirai2
  website/static/adapters.json
Labels: Adapter

#720 Plugin: nonebot_plugin_fortune
  website/static/plugins.json
Labels: Plugin

#723 Plugin: 塔罗牌
  website/static/plugins.json
Labels: Plugin

#726 Plugin: emoji 合成器
  website/static/plugins.json
Labels: Plugin

#729 Plugin: 今天吃什么
  website/static/plugins.json
Labels: Plugin

#734 Plugin: NoneBot 数据存储
  website/static/plugins.json
Labels: Plugin

#736 Plugin: NoneBot的go-cqhttp启动器
  website/static/plugins.json
Labels: Plugin

#739 Plugin: nonebot-general-rss
  website/static/plugins.json
Labels: Plugin

#743 Fix: require load plugin error
  nonebot/plugin/load.py
  nonebot/plugin/manager.py
  tests/test_init.py
  tests/test_plugin/test_load.py
Labels: bug

#747 Plugin: go-cqhttp 频道支持适配补丁
  website/static/plugins.json
Labels: Plugin

#748 Fix: `dict(config)` raise error
  nonebot/config.py
Labels: bug

#745 Docs: Add CONTRIBUTING
  CONTRIBUTING.md
  README.md
Labels: documentation

#751 Plugin: 棋类游戏
  website/static/plugins.json
Labels: Plugin

#754 Plugin: 词云
  website/static/plugins.json
Labels: Plugin

#756 Plugin: FG(Fifth Generation)
  website/static/plugins.json
Labels: Plugin

#752 Fix: rewrite message typing and construct
  nonebot/adapters/_message.py
  tests/test_adapters/test_message.py
  tests/test_adapters/test_template.py
Labels: Breaking

#758 Plugin: 聊天记录插件
  website/static/plugins.json
Labels: Plugin
