Repository nonebot/nonebot2, pull requests merged in 2022-06, with the labels that each got.

#1025 Plugin: Hikari-战舰世界水表查询
  website/static/plugins.json
Labels: Plugin

#1031 Plugin: 谁艾特我了
  website/static/plugins.json
Labels: Plugin

#1033 Plugin: 疫情小助手
  website/static/plugins.json
Labels: Plugin

#1034 Feature: 日志记录自动检测终端是否支持彩色
  nonebot/log.py
Labels: enhancement

#1036 Plugin: 青年大学习自动提交
  website/static/plugins.json
Labels: Plugin

#1038 Plugin: 命令重启机器人
  website/static/plugins.json
Labels: Plugin

#1045 Bot: nya_bot
  website/static/bots.json
Labels: Bot

#1051 Plugin: nonebot_plugin_setu4
  website/static/plugins.json
Labels: Plugin

#1052 Fix: 修复环境变量无法覆盖 dotenv 内配置项值
  nonebot/config.py
  tests/.env.test
  tests/test_init.py
Labels: bug

#1054 Plugin: smart_reply
  website/static/plugins.json
Labels: Plugin

#1049 Plugin: 历史上的今天
  website/static/plugins.json
Labels: Plugin

#1046 Feature: 添加插件元信息定义
  nonebot/plugin/__init__.py
  nonebot/plugin/manager.py
  nonebot/plugin/plugin.py
  tests/plugins/metadata.py
  tests/test_plugin/test_load.py
Labels: enhancement

#1055 Fix: 修复 MessageSegment 在有额外数据时报错
  nonebot/internal/adapter/message.py
  pyproject.toml
  tests/test_adapters/test_message.py
Labels: bug

#1059 Plugin: BitTorrent
  website/static/plugins.json
Labels: Plugin

#1057 Bug: 修复 typing 中 T_RunPostProcessor 类型的注释描述不正确
  nonebot/typing.py
Labels: bug

#1061 Plugin: 黑白名单
  website/static/plugins.json
Labels: Plugin

#1064 Plugin: nonebot-plugin-bread
  website/static/plugins.json
Labels: Plugin

#1071 Plugin: PicMenu
  website/static/plugins.json
Labels: Plugin

#1072 Docs: 修改 `权限控制` 一节中主动调用的错误
  website/docs/advanced/permission.md
Labels: documentation

#1069 Plugin: 赛马
  website/static/plugins.json
Labels: Plugin
