Repository nonebot/nonebot2, pull requests merged in 2022-04, with the labels that each got.

#904 Fix: 修复部分事件响应器参数类型中冗余的 Optional
  nonebot/plugin/on.py
  nonebot/plugin/on.pyi
Labels: bug

#905 Fix: Bot Hook 没有捕获跳过异常
  .pre-commit-config.yaml
  nonebot/config.py
  nonebot/drivers/quart.py
  nonebot/exception.py
  nonebot/internal/driver/driver.py
  nonebot/internal/driver/model.py
  nonebot/internal/permission.py
  nonebot/message.py
  nonebot/typing.py
  nonebot/utils.py
  poetry.lock
  pyproject.toml
Labels: bug

#907 Plugin: 扫雷游戏
  website/static/plugins.json
Labels: Plugin

#910 Plugin: nonebot_plugin_draw
  website/static/plugins.json
Labels: Plugin

#917 Plugin: splatoon2新闻
  website/static/plugins.json
Labels: Plugin

#914 Docs: 添加自定义匹配规则文档
  website/docs/advanced/permission.md
  website/docs/advanced/rule.md
  website/docs/tutorial/plugin/create-matcher.md
Labels: documentation

#931 Plugin: 随机唐可可
  website/static/plugins.json
Labels: Plugin

#934 Plugin: nonebot-plugin-dida
  website/static/plugins.json
Labels: Plugin

#937 Docs: 更新 GitHub Action 部署文档
  website/docs/tutorial/deployment.md
Labels: documentation

#940 Plugin: 支付宝到账语音
  website/static/plugins.json
Labels: Plugin

#942 Plugin: 答案之书
  website/static/plugins.json
Labels: Plugin

#944 Plugin: 一言
  website/static/plugins.json
Labels: Plugin

#946 Plugin: B站视频封面提取
  website/static/plugins.json
Labels: Plugin

#947 Fix: 修复`MessageTemplate`在没有格式化说明符时行为不正确的问题
  nonebot/internal/adapter/template.py
  tests/test_adapters/test_template.py
Labels: bug

#853 Docs: 添加 pm2 部署文档
  website/docs/tutorial/deployment.md
  website/versioned_docs/version-2.0.0-beta.2/tutorial/deployment.md
Labels: documentation

#949 Plugin: 中国象棋
  website/static/plugins.json
Labels: Plugin

#929 Docs: 添加 nonebug 单元测试文档
  tests/test_examples/test_weather.py
  website/docs/advanced/unittest.md
  website/docs/advanced/unittest/README.mdx
  website/docs/advanced/unittest/_category_.json
  website/docs/advanced/unittest/test-adapters.md
  website/docs/advanced/unittest/test-matcher-operation.md
  website/docs/advanced/unittest/test-matcher.md
  website/docs/tutorial/plugin/create-handler.md
Labels: documentation
