Repository nonebot/nonebot2, pull requests merged in 2022-05, with the labels that each got.

#952 Plugin: NoneBot2 文档搜索
  website/static/plugins.json
Labels: Plugin

#955 Bot: Inkar Suki
  website/static/bots.json
Labels: Bot

#957 Plugin: 国际象棋
  website/static/plugins.json
Labels: Plugin

#959 Bot: ShigureBot
  website/static/bots.json
Labels: Bot

#961 Docs: 添加 QQ 频道链接
  README.md
  website/docs/start/question.md
Labels: documentation

#964 Plugin: 合成字符画(GIF)
  website/static/plugins.json
Labels: Plugin

#968 Plugin: 幻影坦克图片合成
  website/static/plugins.json
Labels: Plugin

#971 Fix: 修复依赖注入默认值参数在 `__eq__` 被重写时报错的问题
  nonebot/dependencies/__init__.py
Labels: bug

#962 Feat: 支持 WebSocket 连接同时获取 str 或 bytes
  nonebot/drivers/aiohttp.py
  nonebot/drivers/fastapi.py
  nonebot/drivers/httpx.py
  nonebot/drivers/quart.py
  nonebot/drivers/websockets.py
  nonebot/internal/driver/model.py
  tests/test_driver.py
Labels: enhancement, Breaking

#975 Plugin: 国内新冠疫情数据查询
  website/static/plugins.json
Labels: Plugin

#973 Plugin: 语录娱乐
  website/static/plugins.json
Labels: Plugin

#977 Plugin: 走迷宫
  website/static/plugins.json
Labels: Plugin

#978 Fix: 商店搜索失效
  website/src/components/Bot.tsx
  website/src/components/Plugin.tsx
  website/src/libs/store.ts
Labels: documentation

#980 Plugin: 摸鱼日历
  website/static/plugins.json
Labels: Plugin

#982 Docs: 修复定时任务一节中的部分拼写错误
  website/docs/advanced/scheduler.md
Labels: documentation

#981 Feat: 添加 devcontainer 支持
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
Labels: enhancement, skip-changelog

#987 Bot: 屑岛风Bot
  website/static/bots.json
Labels: Bot

#985 Plugin: imageutils
  website/static/plugins.json
Labels: Plugin

#983 Fix: 添加 export 方法 Deprecation 警告
  nonebot/plugin/export.py
  nonebot/plugin/load.py
Labels: Breaking

#989 Plugin: MockingBird语音
  website/static/plugins.json
Labels: Plugin

#992 Plugin: 百度翻译
  website/static/plugins.json
Labels: Plugin

#995 Plugin: 数据库连接插件
  website/static/plugins.json
Labels: Plugin

#997 Docs: 更新README中的QQ频道图标
  README.md
Labels: documentation

#996 Docs: 更新 require 样例
  website/docs/tutorial/plugin/load-plugin.md
Labels: documentation

#1001 Fix: 修复依赖注入 bot event 参数 union 校验失败
  nonebot/internal/adapter/event.py
  nonebot/internal/params.py
  nonebot/utils.py
  tests/plugins/param/param_bot.py
  tests/plugins/param/param_event.py
  tests/plugins/param/param_state.py
  tests/test_param.py
Labels: bug

#1003 Bot: LiteyukiBot-轻雪机器人
  website/static/bots.json
Labels: Bot

#1007 Plugin: 签到插件
  website/static/plugins.json
Labels: Plugin

#1005 Docs：添加文档排版规范
  .markdownlint.yaml
  CONTRIBUTING.md
Labels: documentation

#1009 Plugin: TETRIS Stats
  website/static/plugins.json
Labels: Plugin

#1011 Feature: 优化插件加载内部逻辑
  nonebot/__init__.py
  nonebot/plugin/__init__.py
  nonebot/plugin/load.py
  nonebot/plugin/manager.py
  nonebot/plugin/on.py
  nonebot/plugin/plugin.py
  tests/bad_plugins/bad_plugin.py
  tests/plugins/_hidden.py
  tests/plugins/export.py
  tests/plugins/nested/__init__.py
  tests/plugins/nested/plugins/nested_subplugin.py
  tests/plugins/require.py
  tests/test_plugin/test_get.py
  tests/test_plugin/test_load.py
  tests/test_plugin/test_manager.py
Labels: enhancement

#1012 CI: 修复 python ci 缓存路径错误
  .github/actions/setup-python/action.yml
  tests/test_plugin/test_load.py
Labels: skip-changelog

#1014 Plugin: B站视频伪分享卡片
  website/static/plugins.json
Labels: Plugin

#1019 Plugin: 明日方舟工具箱
  website/static/plugins.json
Labels: Plugin

#1021 Plugin: imagetools
  website/static/plugins.json
Labels: Plugin

#1023 Plugin: Warframe时间查询
  website/static/plugins.json
Labels: Plugin
