Repository nonebot/nonebot2, pull requests merged in 2022-08, with the labels that each got.

#1116 Fix: 修复 setuptools 未安装导致 ImportError
  nonebot/__init__.py
Labels: bug

#1118 Plugin: 「能不能好好说话？」缩写翻译
  website/static/plugins.json
Labels: Plugin

#1119 Fix: run post hook 应该处理 matcher.state
  nonebot/message.py
Labels: bug

#1121 Fix: 修复插件父子关系识别错漏
  nonebot/plugin/__init__.py
  nonebot/plugin/export.py
  nonebot/plugin/manager.py
  nonebot/plugin/on.py
  tests/plugins/nested/__init__.py
  tests/plugins/nested/plugins/nested_subplugin.py
  tests/plugins/nested/plugins/nested_subplugin2.py
  tests/test_plugin/test_load.py
Labels: bug

#1129 Plugin: BAWiki
  website/static/plugins.json
Labels: Plugin

#1127 Plugin: MC_QQ通信
  website/static/plugins.json
Labels: Plugin

#1125 Remove: 删除过时的 Export 功能
  nonebot/__init__.py
  nonebot/plugin/__init__.py
  nonebot/plugin/export.py
  nonebot/plugin/load.py
  nonebot/plugin/plugin.py
  tests/plugins/export.py
Labels: Breaking

#1131 Plugin: 疫情小助手-频道版
  website/static/plugins.json
Labels: Plugin

#1137 Plugin: bangumi搜索
  website/static/plugins.json
Labels: Plugin

#1133 Plugin: wiki条目搜索、获取简介
  website/static/plugins.json
Labels: Plugin

#1142 Plugin: 简易群管（带入群欢迎）
  website/static/plugins.json
Labels: Plugin

#1150 Plugin: 小游戏合集
  website/static/plugins.json
Labels: Plugin

#1148 Feature: 移除 Python 3.7 支持
  .github/actions/setup-python/action.yml
  .github/workflows/codecov.yml
  README.md
  nonebot/__init__.py
  nonebot/consts.py
  nonebot/dependencies/__init__.py
  nonebot/dependencies/utils.py
  nonebot/drivers/_block_driver.py
  nonebot/drivers/fastapi.py
  nonebot/internal/adapter/bot.py
  nonebot/internal/driver/driver.py
  nonebot/internal/matcher.py
  nonebot/internal/params.py
  nonebot/internal/permission.py
  nonebot/internal/rule.py
  nonebot/message.py
  nonebot/rule.py
  nonebot/typing.py
  nonebot/utils.py
  packages/nonebot-plugin-docs/README.md
  packages/nonebot-plugin-docs/pyproject.toml
  poetry.lock
  pyproject.toml
  tests/test_driver.py
  website/docs/README.md
  website/docs/start/installation.mdx
Labels: enhancement, Breaking

#1151 Feature: 移除过时的 `nonebot.plugins` toml 配置
  nonebot/plugin/load.py
  tests/plugins.empty.toml
  tests/plugins.invalid.json
  tests/plugins.invalid.toml
  tests/plugins.json
  tests/plugins.toml
  tests/plugins/matcher/matcher_expire.py
  tests/test_plugin/test_load.py
Labels: enhancement, Breaking

#1146 Plugin: nonebot-plugin-drawer
  website/static/plugins.json
Labels: Plugin

#1156 Plugin: 每日人品
  website/static/plugins.json
Labels: Plugin

#1160 Feature: 移除过时的 State 注入参数
  nonebot/internal/params.py
  nonebot/params.py
Labels: enhancement, Breaking

#1162 Plugin: 日韩中 VITS 模型原神拟声
  website/static/plugins.json
Labels: Plugin

#1166 Fix: 修复当消息与不支持的类型相加时抛出的异常类型错误
  nonebot/internal/adapter/message.py
  tests/test_adapters/test_template.py
Labels: bug

#1165 Plugin: PixivBot
  website/static/plugins.json
Labels: Plugin

#1170 Plugin: 娶群友
  website/static/plugins.json
Labels: Plugin

#1175 Plugin: 工作性价比
  website/static/plugins.json
Labels: Plugin

#1177 Plugin: NoneBot 树形帮助插件
  website/static/plugins.json
Labels: Plugin

#1173 Plugin: 业余无线电助手
  website/static/plugins.json
Labels: Plugin

#1168 Plugin: 课表查询
  website/static/plugins.json
Labels: Plugin

#1171 Feature: shell command 添加富文本支持
  nonebot/params.py
  nonebot/rule.py
  tests/test_rule.py
  website/docs/tutorial/plugin/create-handler.md
Labels: enhancement

#1182 Plugin: 话痨排行榜
  website/static/plugins.json
Labels: Plugin

#1191 Plugin: 面麻小助手
  website/static/plugins.json
Labels: Plugin

#1185 Plugin: MagiaDice骰娘及TRPGLOG
  website/static/plugins.json
Labels: Plugin

#1187 Plugin: 反馈及通知
  website/static/plugins.json
Labels: Plugin

#1189 Plugin: 雨课堂自动签到
  website/static/plugins.json
Labels: Plugin

#1183 Feature: 新增事件类型过滤 rule
  nonebot/__init__.py
  nonebot/plugin/__init__.py
  nonebot/plugin/on.py
  nonebot/plugin/on.pyi
  nonebot/rule.py
  tests/plugins/plugin/__init__.py
  tests/plugins/plugin/matchers.py
  tests/test_plugin/test_on.py
  tests/test_rule.py
Labels: enhancement

#1193 Plugin: 自识别todo
  website/static/plugins.json
Labels: Plugin

#1204 Plugin: 不背单词
  website/static/plugins.json
Labels: Plugin

#1194 Featue: `load_plugin` 支持 `pathlib.Path`
  nonebot/plugin/load.py
  nonebot/plugin/manager.py
  nonebot/utils.py
  tests/test_plugin/test_load.py
Labels: enhancement

#1206 Plugin: 赛博浅草寺
  website/static/plugins.json
Labels: Plugin

#1202 Plugin: 修仙模拟器
  website/static/plugins.json
Labels: Plugin
