Repository nonebot/nonebot2, pull requests merged in 2022-07, with the labels that each got.

#1076 Plugin: 米游币商品自动兑换
  website/static/plugins.json
Labels: Plugin

#1074 Docs: 更新 Readme 贡献图片
  README.md
Labels: documentation

#1077 Docs: 修复旧 Vuepress 文档缓存问题
  website/static/service-worker.js
Labels: documentation

#1079 Docs: fix event message type error
  website/docs/tutorial/plugin/create-handler.md
  website/versioned_docs/version-2.0.0-beta.4/tutorial/plugin/create-handler.md
Labels: documentation

#1085 Plugin: 一起燚xN吧
  website/static/plugins.json
Labels: Plugin

#1087 Plugin: 战地1、5战绩查询工具
  website/static/plugins.json
Labels: Plugin

#1082 Plugin: OSU查分插件
  website/static/plugins.json
Labels: Plugin

#1088 Docs: 添加 nonemoji 并更新开发指南
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/release-drafter.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  poetry.lock
  pyproject.toml
Labels: documentation

#1093 Plugin: ACC计算工具
  website/static/plugins.json
Labels: Plugin

#1090 Plugin: 自动回复（文i）插件
  website/static/plugins.json
Labels: Plugin

#1095 Plugin: b站视频每日推送
  website/static/plugins.json
Labels: Plugin

#1097 Plugin: 明日方舟寻访记录分析
  website/static/plugins.json
Labels: Plugin

#1099 Plugin: 处理好友添加和群邀请
  website/static/plugins.json
Labels: Plugin

#1103 Bot: 真宵Bot
  website/static/bots.json
Labels: Bot

#1104 Feature: 正向驱动器 startup/shutdown hook 支持同步函数
  nonebot/drivers/_block_driver.py
Labels: enhancement

#1106 Feature: on_x 支持 expire_time 参数
  nonebot/__init__.py
  nonebot/internal/matcher.py
  nonebot/plugin/__init__.py
  nonebot/plugin/on.py
  nonebot/plugin/on.pyi
  tests/plugins/matcher/matcher_expire.py
  tests/test_matcher.py
Labels: enhancement

#1109 Plugin: 群昵称时间
  website/static/plugins.json
Labels: Plugin

#1111 Plugin: 易命令
  website/static/plugins.json
Labels: Plugin

#1113 Bot: SkadiBot
  website/static/bots.json
Labels: Bot

#1115 Plugin: 推送钩子
  website/static/plugins.json
Labels: Plugin
