Repository nonebot/nonebot2, pull requests merged in 2022-09, with the labels that each got.

#1209 Plugin: 原神角色展柜查询
  website/static/plugins.json
Labels: Plugin

#1211 Plugin: MC_QQ_MCRcon
  website/static/plugins.json
Labels: Plugin

#1208 Fix: 修复 User 会话权限更新嵌套问题
  nonebot/internal/matcher.py
  tests/plugins/matcher/matcher_permission.py
  tests/test_matcher.py
  tests/test_permission.py
Labels: bug

#1213 Adapter: Console
  README.md
  website/static/adapters.json
Labels: Adapter

#1216 Plugin: 原神每日材料查询
  website/static/plugins.json
Labels: Plugin

#1218 Plugin: 米游社辅助工具
  website/static/plugins.json
Labels: Plugin

#1220 Plugin: 星际战甲事件查询
  website/static/plugins.json
Labels: Plugin

#1224 Bot: 小白机器人
  website/static/bots.json
Labels: Bot

#1226 Bot: GenshinUID
  website/static/bots.json
Labels: Bot

#1227 Feature: 优化依赖注入结构
  nonebot/dependencies/__init__.py
  nonebot/internal/matcher.py
  nonebot/internal/params.py
Labels: enhancement

#1232 Plugin: 查询ETH合并日期
  website/static/plugins.json
Labels: Plugin

#1245 Plugin: Minecraft Server 聊天同步
  website/static/plugins.json
Labels: Plugin

#1233 Feature: 调整日志输出格式与等级
  nonebot/__init__.py
  nonebot/config.py
  nonebot/dependencies/__init__.py
  nonebot/drivers/aiohttp.py
  nonebot/drivers/httpx.py
  nonebot/drivers/quart.py
  nonebot/drivers/websockets.py
  nonebot/exception.py
  nonebot/internal/adapter/adapter.py
  nonebot/internal/adapter/bot.py
  nonebot/internal/adapter/template.py
  nonebot/internal/driver/driver.py
  nonebot/internal/driver/model.py
  nonebot/internal/matcher.py
  nonebot/internal/params.py
  nonebot/internal/permission.py
  nonebot/internal/rule.py
  nonebot/log.py
  nonebot/message.py
  nonebot/permission.py
  nonebot/plugin/__init__.py
  nonebot/plugin/load.py
  nonebot/plugin/manager.py
  nonebot/plugin/on.py
  nonebot/plugins/echo.py
  nonebot/plugins/single_session.py
  nonebot/rule.py
  tests/.coveragerc
  tests/test_init.py
Labels: enhancement

#1240 Feature: 改进 `CommandGroup` 与 `MatcherGroup` 的结构
  nonebot/plugin/on.py
Labels: enhancement

#1250 Plugin: 图像超分辨率重建
  website/static/plugins.json
Labels: Plugin

#1254 Plugin: ayaka - 文字游戏开发辅助插件
  website/static/plugins.json
Labels: Plugin

#1252 Plugin: 狼人杀插件
  website/static/plugins.json
Labels: Plugin

#1256 Bot: LittlePaimon
  website/static/bots.json
Labels: Bot

#1265 Plugin: nonebot物联网插件
  website/static/plugins.json
Labels: Plugin

#1267 Bot: IdhagnBot
  website/static/bots.json
Labels: Bot

#1274 Plugin: BWIKI助手移植版
  website/static/plugins.json
Labels: Plugin

#1275 Feature: `SUPERUSER` 权限匹配任意超管事件
  nonebot/permission.py
  tests/test_permission.py
Labels: enhancement, Breaking

#1279 Plugin: 漂流瓶
  website/static/plugins.json
Labels: Plugin

#1281 Plugin: gal角色语音生成
  website/static/plugins.json
Labels: Plugin

#1283 Plugin: 阿里云盘福利码自动兑换
  website/static/plugins.json
Labels: Plugin

#1287 Plugin: PicStatus
  website/static/plugins.json
Labels: Plugin

#1289 Plugin: 图灵机器人
  website/static/plugins.json
Labels: Plugin

#1293 Plugin: 在线编曲
  website/static/plugins.json
Labels: Plugin

#1295 Plugin: 文字识别
  website/static/plugins.json
Labels: Plugin

#1291 Fix: 内置规则和权限没有捕获错误
  nonebot/internal/permission.py
  nonebot/permission.py
  nonebot/rule.py
  tests/test_permission.py
  tests/test_rule.py
  tests/utils.py
Labels: bug

#1297 Adapter: GitHub
  README.md
  website/static/adapters.json
Labels: Adapter
