Repository nonebot/nonebot2, pull requests merged in 2022-12, with the labels that each got.

#1430 Plugin: b站图片下载
  website/static/plugins.json
Labels: Plugin

#1432 Docs: 修正文档中部分配置文件示例的符号误用
  website/docs/tutorial/configuration.md
  website/versioned_docs/version-2.0.0rc2/tutorial/configuration.md
Labels: documentation

#1434 Plugin: 动画截图追溯来源
  website/static/plugins.json
Labels: Plugin

#1436 Plugin: 免费快捷点歌插件
  website/static/plugins.json
Labels: Plugin

#1439 Plugin: ChatGPT
  website/static/plugins.json
Labels: Plugin

#1443 Plugin: 雀魂信息查询
  website/static/plugins.json
Labels: Plugin

#1444 Feature: 支持主动销毁事件响应器
  nonebot/internal/matcher/matcher.py
  nonebot/message.py
  tests/test_matcher/test_matcher.py
Labels: enhancement

#1446 Plugin: 图片背景消除
  website/static/plugins.json
Labels: Plugin

#1450 Plugin: 全群广播
  website/static/plugins.json
Labels: Plugin

#1457 Feature: 添加正则匹配文本注入
  nonebot/consts.py
  nonebot/params.py
  nonebot/rule.py
  tests/plugins/param/param_state.py
  tests/test_param.py
  tests/test_rule.py
  website/docs/tutorial/plugin/create-handler.md
Labels: enhancement

#1452 Plugin: 汇率换算
  website/static/plugins.json
Labels: Plugin

#1458 Fix: 补充 `params` 模块的类型注解
  nonebot/params.py
Labels: documentation

#1464 Plugin: 权限控制
  website/static/plugins.json
Labels: Plugin

#1462 Plugin: multi-ChatGPT
  website/static/plugins.json
Labels: Plugin

#1466 Plugin: 随机配色方案
  website/static/plugins.json
Labels: Plugin

#1470 Docs: 修复文档中部分超链接跳转到 /store.html 的问题
  website/docs/advanced/publish-plugin.md
  website/versioned_docs/version-2.0.0rc2/advanced/publish-plugin.md
Labels: documentation

#1475 Plugin: 戒色打卡日记
  website/static/plugins.json
Labels: Plugin

#1478 Plugin: QQ群文件备份
  website/static/plugins.json
Labels: Plugin

#1472 Plugin: 熊老板
  website/static/plugins.json
Labels: Plugin

#1480 Plugin: GPT3
  website/static/plugins.json
Labels: Plugin

#1481 Develop: 使用 pycln 自动移除未使用的 import
  .pre-commit-config.yaml
  nonebot/config.py
  nonebot/plugin/plugin.py
  poetry.lock
  pyproject.toml
  tests/plugins/nested/plugins/nested_subplugin.py
Labels: enhancement

#1482 Fix: `on_type` typing error
  nonebot/plugin/on.py
  nonebot/plugin/on.pyi
Labels: bug

#1484 Plugin: 只因进化录
  website/static/plugins.json
Labels: Plugin

#1486 Plugin: 随机禁言
  website/static/plugins.json
Labels: Plugin

#1489 Plugin: 防撤回
  website/static/plugins.json
Labels: Plugin

#1491 Fix: 修复客户端请求未处理 cookies
  tests/test_driver.py
Labels: bug

#1497 Plugin: JAVA MC服务器信息查询
  website/static/plugins.json
Labels: Plugin

#1500 Plugin: 不要复读
  website/static/plugins.json
Labels: Plugin

#1506 Plugin: 战地群聊天插件
  website/static/plugins.json
Labels: Plugin

#1503 Plugin: 群友召唤术
  website/static/plugins.json
Labels: Plugin

#1508 Plugin: Ping
  website/static/plugins.json
Labels: Plugin

#1504 Docs: 更新测试文档中的连接方式&细化插件发布描述
  website/docs/advanced/publish-plugin.md
  website/docs/advanced/unittest/test-adapters.md
  website/versioned_docs/version-2.0.0rc2/advanced/publish-plugin.md
  website/versioned_docs/version-2.0.0rc2/advanced/unittest/test-adapters.md
Labels: documentation

#1511 Bot: RanBot
  website/static/bots.json
Labels: Bot

#1515 Plugin: 腾讯云图像变换
  website/static/plugins.json
Labels: Plugin

#1513 Plugin: 服务状态查询
  website/static/plugins.json
Labels: Plugin

#1518 Plugin: AnimalVoice_Convert
  website/static/plugins.json
Labels: Plugin
