Repository nonebot/nonebot2, pull requests merged in 2023-03, with the labels that each got.

#1757 Fix: 修复适配器能断开非自身所有的 Bot 对象
  nonebot/internal/adapter/adapter.py
Labels: bug

#1758 Plugin: nonebot_plugin_eventdone
  website/static/plugins.json
Labels: Plugin

#1762 Plugin: 青年大学习提交(Web UI)
  website/static/plugins.json
Labels: Plugin

#1765 Plugin: 60s日历
  website/static/plugins.json
Labels: Plugin

#1771 Bot: 脑积水
  website/static/bots.json
Labels: Bot

#1769 Plugin: AutoRepeater
  website/static/plugins.json
Labels: Plugin

#1773 Plugin: 小爱课程表
  website/static/plugins.json
Labels: Plugin

#1775 Plugin: Sanae
  website/static/plugins.json
Labels: Plugin

#1779 Bot: LOVE酱
  website/static/bots.json
Labels: Bot

#1783 Bot: fubot
  website/static/bots.json
Labels: Bot

#1786 Plugin: 明日方舟抽卡记录分析
  website/static/plugins.json
Labels: Plugin

#1767 Plugin: ChatGPT官方接口版
  website/static/plugins.json
Labels: Plugin

#1781 Plugin: 多功能的ChatGPT机器人
  website/static/plugins.json
Labels: Plugin

#1785 Plugin: 和团子聊天！
  website/static/plugins.json
Labels: Plugin

#1788 Plugin: ChatPDF文章分析
  website/static/plugins.json
Labels: Plugin

#1791 Plugin: RimoFun
  website/static/plugins.json
Labels: Plugin

#1795 Plugin: 群聊自定义表情包
  website/static/plugins.json
Labels: Plugin

#1798 Plugin: 发6
  website/static/plugins.json
Labels: Plugin

#1801 Bot: 桃桃酱
  website/static/bots.json
Labels: Bot

#1807 Fix: 会话更新依赖注入缺少缓存和上下文管理
  nonebot/internal/matcher/matcher.py
Labels: bug

#1802 Plugin: 修仙模拟器
  website/static/plugins.json
Labels: Plugin

#1804 Plugin: 括号补全
  website/static/plugins.json
Labels: Plugin

#1806 Plugin: 原神历史卡池
  website/static/plugins.json
Labels: Plugin

#1809 Plugin: unoconv文件转换
  website/static/plugins.json
Labels: Plugin

#1811 Plugin: apex信息查询
  website/static/plugins.json
Labels: Plugin

#1813 Plugin: 随机狗妈
  website/static/plugins.json
Labels: Plugin

#1815 Feature: 允许继承和使用 Matcher 子类
  nonebot/internal/matcher/matcher.py
  nonebot/plugin/on.py
  nonebot/plugin/on.pyi
  poetry.lock
  pyproject.toml
Labels: enhancement

#1817 Plugin: 群聊语录库
  website/static/plugins.json
Labels: Plugin

#1821 Plugin: 表情包制作（调用API版）
  website/static/plugins.json
Labels: Plugin

#1819 Plugin: 随机点名
  website/static/plugins.json
Labels: Plugin

#1824 Feature: 移除内置响应规则事件类型限制
  nonebot/internal/matcher/matcher.py
  nonebot/internal/permission.py
  nonebot/rule.py
  tests/test_rule.py
Labels: enhancement

#1825 Feature: 为 `User` 权限添加便捷创建方法
  nonebot/internal/permission.py
Labels: enhancement

#1823 Plugin: 多平台热搜获取插件
  website/static/plugins.json
Labels: Plugin

#1826 Fix: 修复 bot hook 缺少依赖缓存和上下文管理
  nonebot/internal/driver/driver.py
  tests/test_driver.py
Labels: bug

#1831 Plugin: ChatGLM
  website/static/plugins.json
Labels: Plugin

#1834 Plugin: ChatGLM-6B API版
  website/static/plugins.json
Labels: Plugin

#1836 Feature: 在 Windows 上处理 SIGBREAK 信号
  nonebot/consts.py
  nonebot/drivers/none.py
Labels: enhancement

#1840 Docs: 更新 setup 动图
  website/static/img/setup.svg
Labels: documentation

#1841 Docs: 更新指向文档的链接
  CONTRIBUTING.md
  README.md
  nonebot/config.py
  nonebot/log.py
Labels: documentation

#1842 Docs: 移除 Messenger 移动端预期外的蓝色遮罩
  website/src/components/Messenger/index.tsx
  website/src/components/Messenger/styles.module.css
Labels: documentation

#1838 Plugin: 喵喵点歌
  website/static/plugins.json
Labels: Plugin

#1845 Plugin: Hello World
  website/static/plugins.json
Labels: Plugin

#1847 Plugin: 通括膨胀
  website/static/plugins.json
Labels: Plugin

#1851 Plugin: nonebot-plugin-miao
  website/static/plugins.json
Labels: Plugin

#1849 Plugin: 颠倒问号
  website/static/plugins.json
Labels: Plugin

#1853 Docs: 添加 Message 基类模板使用警告
  website/docs/tutorial/message.md
Labels: documentation

#1855 Plugin: 原神cos
  website/static/plugins.json
Labels: Plugin

#1859 Fix: 修复事件响应器辅助函数丢失 block
  nonebot/plugin/on.py
Labels: bug

#1858 Test: 使用 conditional coverage 插件
  nonebot/drivers/none.py
  nonebot/plugin/load.py
  nonebot/rule.py
  poetry.lock
  pyproject.toml
  tests/.coveragerc
Labels: enhancement

#1857 Fix: 检测运行时创建响应器的插件
  nonebot/plugin/on.py
  nonebot/plugin/plugin.py
  tests/plugins/matcher/matcher_process.py
  tests/plugins/plugin/matchers.py
  tests/test_matcher/test_matcher.py
  tests/test_plugin/test_on.py
Labels: bug

#1860 Feature: 重构驱动器 lifespan 方法
  nonebot/drivers/_lifespan.py
  nonebot/drivers/aiohttp.py
  nonebot/drivers/fastapi.py
  nonebot/drivers/httpx.py
  nonebot/drivers/none.py
  nonebot/drivers/quart.py
  nonebot/drivers/websockets.py
  tests/test_driver.py
Labels: enhancement

#1862 Test: coverage condition invert
  nonebot/drivers/none.py
  tests/.coveragerc
Labels: bug

#1856 Feature: 公开自定义 `on` 函数所需的函数
  nonebot/plugin/on.py
  nonebot/plugin/on.pyi
Labels: enhancement

#1863 Docs: 添加 VSCode 配置项名称
  website/docs/editor-support.md
Labels: documentation

#1866 Docs: 修改 NoneBug 独立测试模式流程控制参数
  website/docs/best-practice/testing/README.mdx
  website/docs/best-practice/testing/behavior.mdx
Labels: documentation

#1865 Plugin: ChatGPT网页端API
  website/static/plugins.json
Labels: Plugin
