Repository nonebot/nonebot2, pull requests merged in 2023-02, with the labels that each got.

#1656 Plugin: MC Ping
  website/static/plugins.json
Labels: Plugin

#1661 Docs: Bump nb-autodoc from 0.x to 1.0.0a5
  .github/actions/build-api-doc/action.yml
  nonebot/internal/adapter/event.py
  poetry.lock
Labels: dependencies

#1663 Plugin: 我要一张xx涩图
  website/static/plugins.json
Labels: Plugin

#1665 Plugin: 娶群友
  website/static/plugins.json
Labels: Plugin

#1669 Plugin: 每日人品2
  website/static/plugins.json
Labels: Plugin

#1670 Plugin: DickyPK
  website/static/plugins.json
Labels: Plugin

#1672 Plugin: Q群消息事件监控
  website/static/plugins.json
Labels: Plugin

#1674 :arrow_up: upgrade pre-commit config
  .pre-commit-config.yaml
  nonebot/internal/adapter/template.py
  nonebot/internal/matcher/matcher.py
  poetry.lock
  pyproject.toml
  tests/test_adapters/test_message.py
Labels: dependencies

#1676 Bot: ChensQBOTv2
  website/static/bots.json
Labels: Bot

#1678 Plugin: 今天吃喝什么（图片版）
  website/static/plugins.json
Labels: Plugin

#1681 Bot: koishi
  website/static/bots.json
Labels: Bot

#1683 Plugin: 通用指令阻断
  website/static/plugins.json
Labels: Plugin

#1686 Plugin: ACMReminder
  website/static/plugins.json
Labels: Plugin

#1687 Plugin: 舞萌maimai插件版
  website/static/plugins.json
Labels: Plugin

#1689 Feature: 在加载 driver 引发 ImportError 时，使用 `raise from e`
  nonebot/drivers/aiohttp.py
  nonebot/drivers/fastapi.py
  nonebot/drivers/httpx.py
  nonebot/drivers/quart.py
  nonebot/drivers/websockets.py
Labels: enhancement

#1692 Plugin: OneBot 实现
  website/static/plugins.json
Labels: Plugin

#1694 Plugin: 工具拓展
  website/static/plugins.json
Labels: Plugin

#1696 Plugin: 原神深境螺旋数据查询
  website/static/plugins.json
Labels: Plugin

#1698 Plugin: 明日方舟工具箱
  website/static/plugins.json
Labels: Plugin

#1705 Plugin: 你画我猜组队
  website/static/plugins.json
Labels: Plugin

#1710 Plugin: 视频、图片解析器
  website/static/plugins.json
Labels: Plugin

#1714 Plugin: Bing Chat
  website/static/plugins.json
Labels: Plugin

#1716 Feature: 优化插件加载日志
  nonebot/plugin/manager.py
Labels: enhancement

#1720 Feature: 使用 `tomllib` 读取 toml 配置
  nonebot/plugin/load.py
  poetry.lock
  pyproject.toml
Labels: enhancement

#1719 Docs: 修正交互模式命令
  website/versioned_docs/version-2.0.0rc3/start/install-adapter.mdx
  website/versioned_docs/version-2.0.0rc3/start/install-driver.mdx
  website/versioned_docs/version-2.0.0rc3/start/install-plugin.mdx
Labels: documentation

#1724 Docs: pip 安装指令添加引号
  website/versioned_docs/version-2.0.0rc3/start/installation.mdx
Labels: documentation

#1723 Plugin: 峯驰物流
  website/static/plugins.json
Labels: Plugin

#1728 Plugin: 发病语录
  website/static/plugins.json
Labels: Plugin

#1730 Plugin: 修仙_2.0
  website/static/plugins.json
Labels: Plugin

#1739 Plugin: 呆呆兽都会起来锻炼 H2E
  website/static/plugins.json
Labels: Plugin

#1740 Plugin: 呆呆兽都会用的chatbot接api
  website/static/plugins.json
Labels: Plugin

#1742 Plugin: wf的wm市场
  website/static/plugins.json
Labels: Plugin

#1747 Feature: 添加获取已注册适配器的方法
  nonebot/__init__.py
  tests/test_init.py
Labels: enhancement

#1745 Plugin: 战地一入群审批
  website/static/plugins.json
Labels: Plugin

#1750 Plugin: 爱发电审核
  website/static/plugins.json
Labels: Plugin

#1748 Feature: 命令匹配支持强制指定空白符
  nonebot/consts.py
  nonebot/params.py
  nonebot/plugin/on.py
  nonebot/plugin/on.pyi
  nonebot/rule.py
  tests/plugins/param/param_state.py
  tests/test_param.py
  tests/test_rule.py
Labels: enhancement

#1755 Feature: 添加 `get_adapter` 类型 overload
  nonebot/__init__.py
  poetry.lock
  pyproject.toml
  tests/.coveragerc
Labels: enhancement
