Repository nonebot/nonebot2, pull requests merged in 2023-01, with the labels that each got.

#1522 Feature: 将 block driver 转正为 none 驱动器
  nonebot/drivers/aiohttp.py
  nonebot/drivers/httpx.py
  nonebot/drivers/none.py
  nonebot/drivers/websockets.py
  tests/test_driver.py
  website/static/drivers.json
Labels: enhancement

#1524 Plugin: 命令探查
  website/static/plugins.json
Labels: Plugin

#1526 Feature: 添加 `logger` 重导出
  nonebot/__init__.py
Labels: enhancement

#1529 Plugin: HttpCat🐱猫猫http状态码
  website/static/plugins.json
Labels: Plugin

#1536 Plugin: 主动消息撤回
  website/static/plugins.json
Labels: Plugin

#1537 Plugin: setu_customization
  website/static/plugins.json
Labels: Plugin

#1538 Plugin: 求生之路2——服务器操作
  website/static/plugins.json
Labels: Plugin

#1540 Plugin: 群聊学习
  website/static/plugins.json
Labels: Plugin

#1542 Plugin: 对对联
  website/static/plugins.json
Labels: Plugin

#1551 Plugin: 云签到
  website/static/plugins.json
Labels: Plugin

#1553 Plugin: 查找图片出处
  website/static/plugins.json
Labels: Plugin

#1557 Remove: 移除默认安装 FastAPI
  nonebot/drivers/fastapi.py
  nonebot/drivers/quart.py
  poetry.lock
  pyproject.toml
  website/docs/start/install-adapter.mdx
  website/docs/start/install-driver.mdx
  website/docs/start/install-plugin.mdx
  website/docs/start/installation.mdx
  website/static/drivers.json
Labels: enhancement

#1556 Plugin: Hypixel数据查询
  website/static/plugins.json
Labels: Plugin

#1559 Fix: 修复子插件加载失败时没有从父插件中移除的问题
  nonebot/plugin/__init__.py
Labels: bug

#1569 Plugin: 整点报时
  website/static/plugins.json
Labels: Plugin

#1573 Plugin: 回声洞
  website/static/plugins.json
Labels: Plugin

#1572 Plugin: 星座运势
  website/static/plugins.json
Labels: Plugin

#1574 Fix: 屏蔽 fastapi 0.89.0
  poetry.lock
  pyproject.toml
Labels: bug

#1577 Plugin: Bing每日图片获取
  website/static/plugins.json
Labels: Plugin

#1580 Plugin: 心灵鸡汤
  website/static/plugins.json
Labels: Plugin

#1583 Bot: 辞辞(cici)Bot
  website/static/bots.json
Labels: Bot

#1585 Plugin: 原神实时公告
  website/static/plugins.json
Labels: Plugin

#1591 Plugin: 哔哩哔哩q群登录
  website/static/plugins.json
Labels: Plugin

#1593 Plugin: 简易谷歌翻译插件
  website/static/plugins.json
Labels: Plugin

#1595 Plugin: OrangeDice!
  website/static/plugins.json
Labels: Plugin

#1597 Plugin: 语音功能
  website/static/plugins.json
Labels: Plugin

#1599 Plugin: 喵喵自记菜谱
  website/static/plugins.json
Labels: Plugin

#1601 Bot: SuzunoBot
  website/static/bots.json
Labels: Bot

#1608 Plugin: 犯人在跳舞
  website/static/plugins.json
Labels: Plugin

#1609 Docs: 商店搜索大小写不敏感
  website/src/libs/store.ts
Labels: documentation

#1612 Adapter: Spigot
  website/static/adapters.json
Labels: Adapter

#1615 Docs: 修改更新部分文档
  README.md
  website/docs/start/installation.mdx
  website/docs/start/nb-cli.md
Labels: documentation

#1614 Plugin: PicMCStat
  website/static/plugins.json
Labels: Plugin

#1619 Plugin: 反向词典
  website/static/plugins.json
Labels: Plugin

#1617 Adapter: BilibiliLive
  website/static/adapters.json
Labels: Adapter

#1622 Plugin: 植物大战僵尸小游戏
  website/static/plugins.json
Labels: Plugin

#1625 Plugin: 摩尔质量计算器
  website/static/plugins.json
Labels: Plugin

#1632 Feature: 添加端口配置项约束验证
  nonebot/config.py
Labels: enhancement

#1627 Plugin: 对话超管
  website/static/plugins.json
Labels: Plugin

#1631 Plugin: 青岚
  website/static/plugins.json
Labels: Plugin

#1630 Bot: 青岚
  website/static/bots.json
Labels: Bot

#1635 Plugin: 简易群管女生自用99新
  website/static/plugins.json
Labels: Plugin

#1637 Plugin: Group_Link_Guild
  website/static/plugins.json
Labels: Plugin

#1639 Plugin: Alconna 命令工具
  website/static/plugins.json
Labels: Plugin

#1640 Plugin: nonebot-plugin-mcport
  website/static/plugins.json
Labels: Plugin

#1642 Plugin: XDU校园服务
  website/static/plugins.json
Labels: Plugin

#1644 Plugin: 查找轻小说
  website/static/plugins.json
Labels: Plugin

#1646 Plugin: 舔狗日记
  website/static/plugins.json
Labels: Plugin

#1649 Plugin: uuid生成器
  website/static/plugins.json
Labels: Plugin

#1653 Plugin: impact淫趴
  website/static/plugins.json
Labels: Plugin
