Repository nonebot/nonebot2, pull requests merged in 2024-07, with the labels that each got.

#2795 Docs: `on_keyword` 参数类型错误
  website/docs/advanced/matcher.md
  website/versioned_docs/version-2.2.1/advanced/matcher.md
  website/versioned_docs/version-2.3.0/advanced/matcher.md
  website/versioned_docs/version-2.3.1/advanced/matcher.md
Labels: documentation

#2798 Docs: 修改导航栏开源之夏链接
  website/docusaurus.config.js
Labels: documentation

#2828 Fix: 错误的类型标注和 annotated 处理
  nonebot/internal/driver/combine.py
  nonebot/typing.py
  yarn.lock
Labels: bug

#2829 Security: 拆分 PR Website CI/CD
  .github/workflows/website-preview-cd.yml
  .github/workflows/website-preview-ci.yml
  .github/workflows/website-preview.yml
Labels: skip-changelog, github_actions

#2830 Fix: website preview CD
  .github/workflows/website-preview-cd.yml
Labels: skip-changelog, github_actions

#2831 Fix: preview alias and commit status
  .github/workflows/website-preview-cd.yml
Labels: skip-changelog, github_actions
